{{#each this}}
  <li class='film-gallery__item'>

{{#if poster_path}}
  <img class='film-gallery__img' src='https://image.tmdb.org/t/p/w500{{poster_path}}' alt={{title}} />
  {{else}}
  <img class='film-gallery__img' src='https://image.tmdb.org/t/p/original/wwemzKWzjKYJFfCeiB57q3r4Bcm.svg'
    alt={{title}} />
  {{/if}}
 

    <div class='film-gallery__desc'>
    {{#if original_title}}
    <p class='film-gallery__name'>
        {{original_title}}
    </p>
    {{else}}<p class='film-gallery__name'>{{name}}<p>
      {{/if}}

      <ul class='film-gallery__info list'>        
          {{#each genre_ids}}
            <li class='film-gallery__genre'> {{this}}</li>
          {{/each}}
        <li class='film-gallery__year'>
          &#124; {{release_date}}
        </li>    
        <li class='film-gallery__vote'>{{vote_average}}</li>
      </ul>
    </div>

    <div class='film-gallery__buttons'>
      <button class='film-gallery__button toWatched' data-id='{{id}}' title="Add to Watched">
      <i class="material-icons js-addToWatched"> visibility </i></button>
      <button class='film-gallery__button toQueue' data-id='{{id}}' title="Add to Queue">
        <i class="material-icons js-addToQueue"> playlist_play </i>
        </button>
    </div>
    
  </li>
{{/each}} 











