 {{!-- {{#each results}} --}}

<li class='film-gallery__item'>

  <img class="film-gallery__img" src=https://image.tmdb.org/t/p/w500/{{poster_path}} alt={{title}} /> 

  <div class='film-gallery__desc'>
    <p class='film-gallery__name'>
        {{original_title}}
        </p>
    <p class='film-gallery__genre'>
        <span>{{genre_ids}}</span>
        <span class='film-gallery__year'>
         &#124;{{release_date}}
    </span> 
    </p>      
  </div>
</li>
{{!-- {{/each}}  --}}