<div class='film__about'>
  {{! <button type='button' class='close__button' data-action="modal__close">X</button> }}
  <div class='film__imgBox'>
    {{#if poster_path}}
    <img
      class='film__image'
      src='https://www.themoviedb.org/t/p/w300{{poster_path}}'
      alt={{title}}
      title={{title}}
    />
    {{else}}
    <img class='film-gallery__img lazyload' loading='lazy' src='https://image.tmdb.org/t/p/original/wwemzKWzjKYJFfCeiB57q3r4Bcm.svg'
    alt={{title}} title={{title}} />
  {{/if}}
  </div>
  <div class='film__infoBox'>
    <div>
      <h2 class='film__title'>{{title}}</h2>
      <ul class='list'>
        <li class='film__item'>
          <p class='film__properties'>Vote / Votes</p>
          <p class='properties__data--upper'>
            <span class='properties__data--marker'>{{vote_average}}</span>
            <span class='properties__data--divider'>/</span>
            <span>{{vote_count}}</span>
          </p>
        </li>
        <li class='film__item'>
          <p class='film__properties'>Popularity</p>
          <p class='properties__data--upper'>{{popularity}}</p>
        </li>
        <li class='film__item'>
          <p class='film__properties'>Original Title</p>
          <p class='properties__data--divider'>{{original_title}}</p>
        </li>
        <li class='film__item'>
          <p class='film__properties'>Genre</p>
          <p class='properties__data--divider'>

            {{#if genres}}
              {{#each genres}}
                <span>{{this.name}}{{#unless @last}},{{/unless}}</span>
              {{/each}}
            {{else}}<span>N/A</span>
            {{/if}}
          </p>
        </li>
      </ul>
    </div>
    <div>
      <h3 class='about__title'>About
      </h3>
      <p class='about__text'>{{overview}}</p>
    </div>
    <div class='film__buttonBox'>
      <button type='button' class='film__button modal-addToWatched' data-id={{id}}>Add to Watched</button>
      <button type='button' class='film__button modal-addToQueue' data-id={{id}}>Add to Queue</button>
    </div>
  </div>
</div>