<div class='movie__wrapper'>
    <div class='movie__imgBox'>
      <img class="movie__image" src="https://www.themoviedb.org/t/p/w300{{poster_path}}" alt="{{title}}" title="{{title}}">
    </div>
    <div class='movie__info'>
      <div>
        <h2 class='movie__title'>{{title}}</h2>
        <ul class='list'>
          <li class='movie__item'>
            <p class='movie__properties'>Vote / Votes</p>
            <p class='properties__data--up'>
              <span class='properties__data--marker'>{{vote_average}}</span>
              <span class='properties__data--divider'>/</span>
              <span>{{vote_count}}</span>
            </p>
          </li>
          <li class='movie__item'>
            <p class='movie__properties'>Popularity</p>
            <p class='properties__data--up'>{{popularity}}</p>
          </li>
          <li class='movie__item'>
            <p class='movie__properties'>Original Title</p>
            <p class='properties__data--divider'>{{original_title}}</p>
          </li>
          <li class='movie__item'>
            <p class='movie__properties'>Genre</p>
            <p class='properties__data--divider'>
              {{#if genres}}
                {{#each genres}}
                  <span>{{this.name}}{{#unless @last}},{{/unless}}</span>
                {{/each}}
              {{else}}<span>N/A</span>
              {{/if}}
            </p>
          </li>
        </ul>
      </div>
      <div>
        <h3 class='about__title'>About
        </h3>
        <p class='about__desc'>{{overview}}</p>
      </div>
      <div class='movie__buttonBox'>
        <button type='button' class='movie__button js-addToWatched' data-id={{id}}>Add to Watched</button>
        <button type='button' class='movie__button js-addToQueue' data-id={{id}}>Add to Queue</button>
      </div>
    </div>
  </div>